#chat-bubble-mobile-text-1 {
    font-size: 120%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 23%;
}
#chat-bubble-mobile-text-2 {
    font-size: 120%;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 20%;
}
#chat-bubble-mobile-text-3 {
    font-size: 120%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
}



#chat-bubble-mobile-1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
#chat-bubble-mobile-2 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40%;
}
#chat-bubble-mobile-3 {
    margin-left: 15%;
    margin-right: 15%;
}