.IntroFrameMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14%
}

.IntroFrameMobile #intro-frame-big {
  font-size: 230%;
  margin-bottom: 0%;
}

.IntroFrameMobile #intro-frame-small {
  font-size: 165%;
  margin-top: 1.5%;
}