#sticky-note-mobile-1 {
    font-size: 92%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 23%;
}
#sticky-note-mobile-2 {
    font-size: 110%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 23%;
}
#sticky-note-mobile-3 {
    font-size: 120%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 27%;
}