.TornStickyNoteMobile {
  .div {
      margin-left: 20%;
  }
}

.TornStickyNoteMobile #torn-sticky-note-left-side {
  font-size: 78%;
  margin-left: 15%;
  margin-right: 14%;
  margin-top: 13%;
}

.TornStickyNoteMobile #torn-sticky-note-right-side {
  font-size: 75%;
  margin-left: 15%;
  margin-right: 14%;
  margin-top: 13%;
}