.VideoCallMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}
.VideoCallMobile #iFrameJitsi {
  height: 30%;
  width: 98%;
  border: 0px;
}