#chat-bubble-text-1 {
    font-size: 120%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 23%;
}
#chat-bubble-text-2 {
    font-size: 120%;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 20%;
}
#chat-bubble-text-3 {
    font-size: 120%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
}


#chat-bubble-1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
#chat-bubble-2 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40%;
}
#chat-bubble-3 {
    margin-left: 15%;
    margin-right: 15%;
}