#chat-bubble-text-1 {
    font-size: 160%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12%;
    
}
#chat-bubble-text-2 {
    font-size: 160%;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10%;
    font-family: Courier New ;
    text-align: center;
}

#chat-bubble-text-3-bold {
    font-weight: bold;
    font-size: 160%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 13%;
    margin-bottom: 5%;
    font-family:  Times New Roman;
}

#chat-bubble-text-3 {
    font-size: 160%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-family:  Times New Roman ;
}


#chat-bubble-1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
#chat-bubble-2 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40%;
}
#chat-bubble-3 {
    margin-left: 15%;
    margin-right: 15%;
}