.IntroFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%
}

.IntroFrame #intro-frame-big {
  font-size: 200%;
  margin-bottom: 2%;
}

.IntroFrame #intro-frame-small {
  font-size: 150%;
}