#sticky-note-1 {
    font-size: 90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 23%;
}
#sticky-note-2 {
    font-size: 90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 23%;
}
#sticky-note-3 {
    font-size: 90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 23%;
}